@model dynamic

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profile</h1>
@if (ViewBag.UserData != null)
{
  <div class="card" style="width: 100%; height:200px">
  <img  src="~/assets/blank-profile-picture.png" style=" width:120px;height:15vw; object-fit: cover;" alt="default picture">
  <div class="card-body flex-column">
    <h5 class="card-title"> Name : @ViewBag.UserData.name</h5>
    <h5 class="card-text"> Email : @ViewBag.UserData.Email</h5>
  </div>
</div>
}
<hr />
<br />
@if (ViewBag.userTweets != null)
{
    <h4>My Tweets</h4>
    <hr />
    foreach (var item in ViewBag.userTweets)
    {
        <div class="data">
            <div class="card" style="margin: 20px;">
                <div class="card-header">
                    <div class="d-flex">
                        <h5>
                        <img src="~/assets/UserDefaultLogo.png" width="50" class="avatar img-circle" alt="avatar" />
                            @item.UserName
                </h5>
            </div>
            <div class="ml-auto">
                   <label style="font-size:small"> Posted: @item.createdAt </label>
            </div>
        </div>
       
        <div class="card-body">
            <h5 class="card-title">   <label>@item.TweetDescription</label></h5>
            <div class="d-flex ml-auto">
            </div>
        </div>
        </div>
    </div>
    }

}
else
{


}
